@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<ViewerModel>
@using Hydra.Web
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <title>VIX Viewer</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"> @* needed for launch iframe *@
    @Html.HydraCss("js/jquery-ui-1.8.23.custom/css/custom-theme/jquery-ui-1.8.23.custom.css")
    @Html.HydraCss("bootstrap/css/bootstrap.min.css")

    @Html.HydraCss("style/css/style.css")
    @Html.HydraCss("style/kendo/kendo.common.min.css")
    @Html.HydraCss("style/kendo/kendo.rtl.min.css")
    @Html.HydraCss("style/kendo/kendo.default.min.css")
    @Html.HydraCss("style/kendo/kendo.dataviz.min.css")
    @Html.HydraCss("style/kendo/kendo.dataviz.default.min.css")
    @Html.HydraCss("style/kendo/kendo.mobile.all.min.css")

    @Html.HydraCss("style/css/grid.css")
    @Html.HydraCss("style/css/buttonDesigns.css")
    @Html.HydraCss("style/css/annotationPreference.css")
    @Html.HydraCss("style/css/easy-responsive-tabs.css")
    @Html.HydraCss("style/css/playerToolbar.css")
    @Html.HydraCss("style/css/viewportView.css")
    @Html.HydraCss("style/css/toolbarRegion.css")
    @Html.HydraCss("style/css/imageThumbnailView.css")
    @Html.HydraCss("style/css/versionHistory.css")
    @Html.HydraCss("style/css/spectrum.min.css")

    <script>
    //VAI-915: All cshtml files that use these URLs were updated from var to const and rootURL added
    const rootURL = "@Model.BaseUrl"; //VAI-915
    const baseURL = "@Model.BaseApiUrl";
    const baseViewerURL = "@Model.BaseViewerUrl";
    const baseSignalrURL = "@Model.BaseSignalrUrl";
    const releaseBuild = false;
    </script>

    @Html.HydraScript("js/basic.min.js")
    @Html.HydraScript("js/BinFileReader.js")
    @Html.HydraScript("js/pako.min.js")

    @Html.HydraScript("js/layouts/jquery-latest.js")
    @Html.HydraScript("js/preferences/jquery-1.6.3.min.js")
    @Html.HydraScript("js/preferences/jquery-1.9.1.min.js")
    @Html.HydraScript("js/layouts/jquery-ui-latest.js")
    @Html.HydraScript("js/layouts/jquery.layout-latest.js")

    @Html.HydraScript("js/dicom/dicom.min.js")
    @Html.HydraScript("js/viewer/renderer/render.min.js")
    @Html.HydraScript("js/viewer/tools/tools.min.js")
    @Html.HydraScript("js/cache/cache.min.js")

    @Html.HydraScript("js/spin.min.js")
    @Html.HydraScript("js/imageProgressManager.min.js")
    @Html.HydraScript("bootstrap/js/bootstrap.min.js")
    @Html.HydraScript("bootstrap/js/dropdowns-enhancement.js")

    @Html.HydraScript("js/sessionscript/json2.min.js")
    @Html.HydraScript("js/sessionscript/jquery.signalR-2.2.0.min.js")
    @Html.HydraScript("js/dnd/DragDropTouch.js")
    <script type="text/javascript" src="~/signalr/hubs"></script>
    @Html.HydraScript("js/session.min.js")

    @Html.HydraScript("js/spectrum.min.js")
    @Html.HydraScript("js/grid.min.js")
    @Html.HydraScript("js/kendo/kendo.all.min.js")
    @Html.HydraScript("js/toolbar.min.js")
    @Html.HydraScript("js/urlConfig.min.js")
    @Html.HydraScript("js/common.min.js")
    @Html.HydraScript("js/logUtility.min.js")
    @Html.HydraScript("js/common/worker.min.js")
    @Html.HydraScript("js/html2canvas.min.js")
    @Html.HydraScript("js/preferences/preferences.min.js")

    <!-- Do not use Html.HydraScript for pdf & pdf worker -->
    <script type="text/javascript" src="js/pdf/pdf.js"></script>
    <script type="text/javascript" src="js/pdf/pdf.worker.js"></script>
</head>

<body id="dicomViewer" oncontextmenu="return false;">
    <div class="ui-layout-north" id="LayoutRegion">
        <!-- Toolbar -->
        <div id="toolbarheader" class="k-header">
            <div id="pName"></div>
            <div id="dob"></div>
            <div id="externalLinks" style="margin-top: -5px"></div>
        </div>
        <div id="toolbar"></div>
    </div>

    <!-- Image Thumbnail View -->
    <div id="thumbContainer" class="ui-layout-west" style="overflow-y:auto">
        <ul class="nav nav-tabs" id="thumbTabs" style="margin-left:2px;width:130px;border:#5C5D64;background:#363636;display:none">
            <li class="active"><a data-toggle="tab" id="generalA" href="#imageThumbnail_View" style="margin-left:5px;height:30px;width:60px;color:white;border:#5C5D64;background:#5C5D64">General</a></li>
            <li style="display:none"><a data-toggle="tab" id="keyA" href="#keyimageThumbnail_View" style="height:30px;width:60px;;color:white;border:#5C5D64;background:#363636">KeyImage</a></li>
        </ul>
        <div id="container" style="padding-left:1px;padding-top:4px">
            <div id="img" class="tab-content ui-layout-west" style="padding-left:1px">
                <div id="imageThumbnail_View" class="disableSelection tab-pane fade in active"></div>
                <div id="keyimageThumbnail_View" class="disableSelection tab-pane fade"></div>
            </div>
        </div>
    </div>

    <!-- Viewport View -->
    <div id="viewer" class="ui-layout-center">
        <div id="viewport_View"></div>
    </div>

    <!-- Player Tool Bar -->
    <div class="ui-layout-south" id="playerLayout">
        <!--background: #343434;width:440px;-->
        <div align="center" style="margin: 0px 0px 0px 18%">
            <table cellpadding="10px" width="100%">
                <tr>
                    <td align="center" id="playerCol" style="width:22%;max-width: 240px;">
                        <fieldset id="playerFiledSet" style="display: none; border-color:darkgray; margin: -3px 5px 0px 0px;">
                            <legend style="color:white;font-weight:bold;width:50px;height:15px">Cine</legend>
                            <div id="playerTool" height="35px" data-role="toolbar" class="k-toolbar k-widget k-toolbar-resizable" style="width:90%;display: none; margin: -20px 13px 0px 0px;"></div>
                        </fieldset>
                        <fieldset id="pdfFiledSet" style="display: none; border-color:darkgray; margin: -3px 5px 0px 0px;">
                            <legend style="color:white;font-weight:bold;width:50px;height:15px">PDF</legend>
                            <div id="pdfTool" height="35px" data-role="toolbar" class="k-toolbar k-widget k-toolbar-resizable" style="width:90%;display: none; margin: -20px 13px 0px 0px;"></div>
                        </fieldset>
                        <fieldset id="tiffFiledSet" style="display: none; border-color:darkgray; margin: -3px 5px 0px 0px;">
                            <legend style="color:white;font-weight:bold;width:50px;height:15px">TIFF</legend>
                            <div id="tiffNavigationTool" height="35px" data-role="toolbar" class="k-toolbar k-widget" style="width:90%;display: none; margin: -20px 13px 0px 0px;"></div>
                        </fieldset>
                    </td>
                    <td align="center" id="imageCol" style="width:10%;max-width: 240px;">
                        <fieldset id="imageFiledSet" style="display: none; border-color:darkgray; margin: -3px 5px 0px 0px;">
                            <legend style="color:white;font-weight:bold;width:50px;height:15px">Series</legend>
                            <div id="imageNavigationTool" style="display: none; margin: -20px 10px 0px 0%"></div>
                        </fieldset>
                    </td>
                    <td align="center" id="pageCol" style="width:10%;max-width: 240px;">
                        <fieldset id="pageFiledSet" style="display: none; border-color:darkgray; margin: -3px 5px 0px 0px;">
                            <legend style="color:white;font-weight:bold;width:50px;height:15px">Page</legend>
                            <div id="pageNavigationTool" style="display:none; margin: -20px 13px 0px 0px;"></div>
                        </fieldset>
                    </td>
                    <td align="right" width="30%" style="max-width: 240px;">
                        <table cellpadding="10px" width="100%">
                            <tr>
                                <td align="center" width="15%">
                                    <div id="cacheIndicator"></div>
                                </td>
                                <td align="center" width="15%">
                                    <div class="row" style="margin-right: 9px">
                                        <div class="col-xs-6" id="hydraVersionDiv" align="right" style="padding-top: 10px;">
                                            <label id="statusMsg" align="left" height="15px" style="display:inline"> </label></br>
                                            <button id="logViewer" class="border-color-class" height="15px" onclick="dicomViewer.logUtility.togglePanel();" style="display:none">Log Viewer</button>
                                            <button id="hydraVersionLink" class="border-color-class" height="15px" onclick="openHydraVersionInfo();">v-1.0.11</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- contextMenuThumbnailPanel-->
    <ul id="contextMenuThumbnailPanel" oncontextmenu="return false;" style="background: #363636;">
        <li id="cachelistindicator" style="width: 130px;"><a href="#" class="cacheindicator" id="context-cacheIndicator" onclick="dicomViewer.tools.cacheIndicator()">ShowCacheIndicator</a></li>
        <li id="qalistindicator" style="width: 130px;">
            <a href="#" id="context-th-QAMenu" onclick="">QA</a>
            <ul id="context-thQA-submenu">
                <li id="qaNeedsToReviw"><a href="#" id="context-qaNeedsToReviw" onclick="prepareQARequest('IMG_NR',true)">Image Status=> Needs Review</a></li>
                <li id="qaReviwed"><a href="#" id="context-qaReviwed" onclick="prepareQARequest('IMG_R',true)">Image Status=> QA Reviewed</a></li>
                <li class="k-separator" style="border-color: #999; display:none;"></li>
                <li id="context-qaMarkDelete" style="display:none;" onclick="prepareQARequest('IMG_D',true)">Image Delete...</li>
            </ul>
        </li>
    </ul>

    <!-- contextMenu-->
    <ul id="contextMenu" oncontextmenu="return false;" style="background: #363636;">
        <li><a href="#" id="context-pan" onclick="dicomViewer.tools.doPan()">Pan</a></li>
        <li><a href="#" id="context-sharpen" onclick="dicomViewer.tools.doSharpen()" style="display: none">Sharpen</a></li>
        <li><a href="#" id="context-windowlevel" onclick="dicomViewer.tools.applyWindowLevel()">WW/WC</a></li>
        <li class="">
            <a href="#" id="context-ww_wc" onclick="">WW/WC</a>
            <ul id="ww_wcSubMenu">
                <li id="1_ww_wcContextMenu"><a href="#" onclick="dicomViewer.tools.doWindowLevel(1)">Default</a></li>
                <li id="2_ww_wcContextMenu"><a href="#" onclick="dicomViewer.tools.doWindowLevel(2)">Abdomen</a></li>
                <li id="5_ww_wcContextMenu"><a href="#" onclick="dicomViewer.tools.doWindowLevel(5)">Bone</a></li>
                <li id="4_ww_wcContextMenu"><a href="#" onclick="dicomViewer.tools.doWindowLevel(4)">Brain</a></li>
                <li id="6_ww_wcContextMenu"><a href="#" onclick="dicomViewer.tools.doWindowLevel(6)">Head/Neck</a></li>
                <li id="3_ww_wcContextMenu"><a href="#" onclick="dicomViewer.tools.doWindowLevel(3)">Lung</a></li>
                <li id="7_ww_wcContextMenu"><a href="#" onclick="dicomViewer.tools.doWindowLevel(7)">Custom</a></li>
            </ul>
        </li>

        <li class="">
            <a href="#" id="context-zoom" onclick="">Zoom</a>
            <ul id="zoomSubMenu">
                <li id="0_zoomContextMenu"><a href="#" onclick="dicomViewer.tools.setZoomLevel(0)">100%</a></li>
                <li id="1_zoomContextMenu"><a href="#" onclick="dicomViewer.tools.setZoomLevel(1)">Fit-to-window</a></li>
                <li id="2_zoomContextMenu"><a href="#" onclick="dicomViewer.tools.setZoomLevel(2)">Fit-width-to-window</a></li>
                <li id="3_zoomContextMenu"><a href="#" onclick="dicomViewer.tools.setZoomLevel(3)">Fit-height-to-window</a></li>
                <li id="6_zoomContextMenu"><a href="#" onclick="dicomViewer.tools.doZoom('6_zoom')">Custom</a></li>
            </ul>
        </li>

        <li class="">
            <a href="#" id="context-RGBTool" onclick="">RGB Channel</a>
            <ul id="RGBTool-SubMenu">
                <li id="0_rgbAllContextMenu"><a href="#" onclick="dicomViewer.tools.rgbColor(0)">Reset</a></li>
                <li id="1_rgbRedContextMenu"><a href="#" onclick="dicomViewer.tools.rgbColor(1)">Red</a></li>
                <li id="2_rgbGreenContextMenu"><a href="#" onclick="dicomViewer.tools.rgbColor(2)">Green</a></li>
                <li id="3_rgbBlueContextMenu"><a href="#" onclick="dicomViewer.tools.rgbColor(3)">Blue</a></li>
            </ul>
        </li>

        <!--<li id="ecgMenu" class="dropdown-submenu"><a href="#" onclick="">ECG</a>
        <ul class="dropdown-menu dropdown-menu-custom" style="background-color: #999;">-->
        <li id="gridtype">
            <a href="#" onclick="">Grid Type</a>
            <ul id="gridSubMenu">
                <li onclick=" dicomViewer.gridType(0, 'none')">
                    <input id="none" style="visibility:hidden;" type="radio" onclick="dicomViewer.gridType(0, 'none')" name="gridtype" value="1">
                    None
                </li>

                <li onclick="dicomViewer.gridType(1, 'onemm')">
                    <input id="onemm" style="visibility:hidden;" type="radio" onclick="dicomViewer.gridType(1, 'onemm')" name="gridtype" value="2" checked="">
                    1 mm
                </li>

                <li onclick="dicomViewer.gridType(2, 'fivemm')">
                    <input id="fivemm" style="visibility:hidden;" type="radio" onclick="dicomViewer.gridType(2, 'fivemm')" name="gridtype" value="3">
                    5 mm
                </li>
            </ul>
        </li>

        <li id="gridcolor">
            <a href="#" onclick="">Grid Color</a>
            <ul id="gridColor">

                <li onclick="dicomViewer.gridColor(0, 'redGrid')">
                    <input id="redGrid" type="radio" name="gridcolor" value="1" checked="">
                    Red
                </li>

                <li onclick="dicomViewer.gridColor(1, 'greenGrid')" )>
                    <input id="greenGrid" type="radio" name="gridcolor" value="2">
                    Green
                </li>

                <li onclick="dicomViewer.gridColor(2, 'blueGrid')">
                    <input id="blueGrid" type="radio" name="gridcolor" value="3">
                    Blue
                </li>

                <li onclick="dicomViewer.gridColor(3, 'blackGrid')">
                    <input id="blackGrid" type="radio" name="gridcolor" value="4">
                    Black
                </li>

                <li onclick="dicomViewer.gridColor(4, 'greyGrid')">
                    <input id="greyGrid" type="radio" name="gridcolor" value="5">
                    Grey
                </li>

            </ul>
        </li>

        <li id="leadformat">
            <a href="#" onclick="">Lead Format</a>
            <ul id="leadFormatSubmenu">
                <li onclick="dicomViewer.leadFormat(2, 'threebyfour')">
                    <input id="threebyfour" type="radio" name="leadformat" value="1">
                    3X4
                </li>

                <li onclick="dicomViewer.leadFormat(4, 'threebyfourplusone')">
                    <input id="threebyfourplusone" type="radio" name="leadformat" value="2">
                    3X4+1
                </li>

                <li onclick="dicomViewer.leadFormat(8, 'threebyfourplusthree')">
                    <input id="threebyfourplusthree" type="radio" name="leadformat" value="3">
                    3X4+3
                </li>

                <li onclick="dicomViewer.leadFormat(16, 'sixbytwo')">
                    <input id="sixbytwo" type="radio" name="leadformat" value="4">
                    6X2
                </li>

                <li onclick="dicomViewer.leadFormat(1, 'twelvebyone')">
                    <input id="twelvebyone" type="radio" name="leadformat" value="5">
                    12X1
                </li>

                <li id="lf_averagecomplex" onclick="dicomViewer.leadFormat(32, 'Average Complex')">
                    <input id="averagecomplex" type="radio" name="leadformat" value="6">
                    Average Complex
                </li>
            </ul>
        </li>

        <li id="gain">
            <a href="#" onclick="">Gain</a>
            <ul id="gainSubmenu">
                <li onclick="dicomViewer.gain(0, 'fivemmgain')">
                    <input id="fivemmgain" type="radio" name="gain" value="1">
                    5 mm/mV
                </li>

                <li onclick="dicomViewer.gain(1, 'tenmmgain')">
                    <input id="tenmmgain" type="radio" name="gain" value="2" checked="">
                    10 mm/mV
                </li>

                <li onclick="dicomViewer.gain(2, 'twentymmgain')">
                    <input id="twentymmgain" type="radio" name="gain" value="3">
                    20 mm/mV
                </li>

                <li onclick="dicomViewer.gain(3, 'fourtymmgain')">
                    <input id="fourtymmgain" type="radio" name="gain" value="4">
                    40 mm/mV
                </li>
            </ul>
        </li>

        <li id="signalthickness">
            <a href="#" onclick="">Signal Thickness</a>
            <ul id="signalthicknesSubmenu">
                <li onclick="dicomViewer.thickness(1, 'onethickness')">
                    <input id="onethickness" type="radio" name="thickness" value="1" checked="">
                    One
                </li>

                <li onclick="dicomViewer.thickness(2, 'twothickness')">
                    <input id="twothickness" type="radio" onclick="dicomViewer.thickness(2, 'twothickness')" name="thickness" value="2">
                    Two
                </li>

                <li onclick="dicomViewer.thickness(3, 'threethickness')">
                    <input id="threethickness" type="radio" onclick="dicomViewer.thickness(3, 'threethickness')" name="thickness" value="3">
                    Three
                </li>
            </ul>
        </li>

        <li id="drawcaliper" class=""><a href="#" onclick="dicomViewer.drawCaliper()">Draw Caliper</a></li>
        <li id="context-hideCaliper" class=""><a href="#" onclick="dicomViewer.hideCaliper()">Hide Caliper</a></li>
        <li id="context-showCaliper" class=""><a href="#" onclick="dicomViewer.displayCaliper()">Show Caliper</a></li>

        <li class="tool-measurementClass">
            <a href="#" id="context-measurement" onclick="">Measurement</a>
            <ul id="measurementSubMenu">
                <li>
                    <a href="#" id="context-length" onclick="dicomViewer.tools.do2DMeasurement(0, null, null)">2D Length</a>
                    <!--<input type="radio" onclick="dicomViewer.tools.do2DMeasurement(0, null, null)"  id="measurement1" name="measurement1" value="1">
                    <label for="context2DLength">2D Length</label>-->
                </li>
                <li id="context-2dPoint">
                    <a href="#" onclick="dicomViewer.tools.do2DMeasurement(1, null, null)">2D Point</a>
                    <!-- <input type="radio" onclick="dicomViewer.tools.do2DMeasurement(1, null, null)"  id="measurement2" name="measurement2" value="2">
                    <label for="context2DLength">2D Point</label>-->
                </li>
                <li>
                    <a href="#" id="context-length-calibration" onclick="dicomViewer.tools.do2DMeasurement(6, null, null)">2D Length Calibration</a>
                </li>
                <li id="context-angle">
                    <a href="#" onclick="dicomViewer.tools.do2DMeasurement('angle', null, null)">Angle</a>
                </li>
                <li class="">
                    <a href="#" id="context-hounsfield" onclick="">Hounsfield</a>
                    <ul id="hounsfieldSubMenu">
                        <li>
                            <a href="#" id="context-hounsfield-ellipse" onclick="dicomViewer.tools.do2DMeasurement('7', null, null)">Ellipse</a>
                        </li>
                        <li>
                            <a href="#" id="context-hounsfield-rectangle" onclick="dicomViewer.tools.do2DMeasurement('14', null, null)">Rectanlge</a>
                        </li>
                    </ul>
                </li>
                <li id="context-trace">
                    <a href="#" onclick="dicomViewer.tools.do2DMeasurement(2, null, 'mmHg')">Trace</a>
                    <!--<input type="radio" onclick="dicomViewer.tools.do2DMeasurement(2, null, null)"  id="measurement3" name="measurement3" value="3">
                    <label for="context2DLength">Trace Measure</label>-->
                </li>
            </ul>
        </li>
        <li class="tool-annotationClass">
            <a href="#" id="context-annotation" onclick="">Annotation</a>
            <ul id="annotationSubMenu">
                <li>
                    <a href="#" id="context-text" onclick="dicomViewer.tools.do2DMeasurement(8, null, null)">Text</a>
                </li>
                <li id="context-line">
                    <a href="#" onclick="dicomViewer.tools.do2DMeasurement(9, null, null)">Line</a>
                </li>
                <li>
                    <a href="#" id="context-arrow" onclick="dicomViewer.tools.do2DMeasurement(10, null, null)">Arrow</a>
                </li>
                <li id="context-ellipse">
                    <a href="#" onclick="dicomViewer.tools.do2DMeasurement(11, null, null)">Ellipse</a>
                </li>
                <li id="context-rectangle">
                    <a href="#" onclick="dicomViewer.tools.do2DMeasurement(12, null, null)">Rectangle</a>
                </li>
                <li id="context-freehand">
                    <a href="#" onclick="dicomViewer.tools.do2DMeasurement(13, null, 'mmHg')">Free Hand</a>
                </li>
                <li id="context-pen">
                    <a href="#" onclick="dicomViewer.tools.do2DMeasurement(15, null, null)">Pen</a>
                </li>
            </ul>
        </li>
        <li id="context-volume">
            <a href="#" onclick="dicomViewer.tools.do2DMeasurement(3, null, null)">Volume Measure</a>
            <!--<input type="radio" onclick="dicomViewer.tools.do2DMeasurement(3, null, null)"  id="measurement4" name="measurement4" value="4">
            <label for="context2DLength">Volume Measure</label>-->
        </li>
        <li>
            <a href="#" id="context-MensuratedScale" onclick="dicomViewer.tools.doMenusratedScale()">Show Mensurated Scale</a>
        </li>
        <li>
            <a href="#" id="context-delete" onclick="dicomViewer.measurement.deleteSelectedMeasurment()">Delete</a>
        </li>
        <li>
            <a href="#" id="context-edit" onclick="dicomViewer.measurement.setDataToEdit('edit')">Edit</a>
        </li>
        <li>
            <a href="#" id="context-deleteAll" onclick="dicomViewer.tools.do2DMeasurement(4, null, null)">Delete All</a>
        </li>
        <li>
            <a href="#" id="context-properties" onclick="dicomViewer.tools.showMeasurementProperties()">Properties</a>
        </li>
        <li class="context-USTools">
            <a href="#" id="context-MitralValve" onclick="">Mitral Valve</a>
            <ul id="100" role="menu">
                <li onclick="dicomViewer.tools.do2DMeasurement(0,'mitralValveAnteriorLeafletThickness','mm')"><input type="radio" style="visibility:hidden;" id="measurement101" name="measurement" value="101">Mitral Valve Anterior Leaflet Thickness</li>
                <li onclick="dicomViewer.tools.do2DMeasurement(0,'mitralRegurgitationLength','cm')"><input type="radio" style="visibility:hidden;" id="measurement102" name="measurement" value="102">Mitral Regurgitation Length</li>
                <li onclick="dicomViewer.tools.do2DMeasurement(1,'mitralRegurgitationPeakVelocity','m/s')"><input type="radio" style="visibility:hidden;" id="measurement103" name="measurement" value="103">Mitral Regurgitation Peak Velocity</li>
                <li onclick="dicomViewer.tools.do2DMeasurement(5,'mitralStenosisMeanGradient','mmHg')"><input type="radio" style="visibility:hidden;" id="measurement104" name="measurement" value="104">Mitral Stenosis Mean Gradient</li>
            </ul>
        </li>
        <li class="context-USTools">
            <a href="#" id="context-AorticValve" onclick="">Aortic Valve</a>
            <ul id="105" role="menu">
                <li onclick="dicomViewer.tools.do2DMeasurement(0,'aorticRegurgitationLength','cm')"><input type="radio" style="visibility:hidden;" id="measurement106" name="measurement" value="106">Aortic Regurgitation Length</li>
                <li onclick="dicomViewer.tools.do2DMeasurement(1,'aorticRegurgitationPeakVelocity','m/s')"><input type="radio" style="visibility:hidden;" id="measurement107" name="measurement" value="107">Aortic Regurgitation Peak Velocity</li>
                <li onclick="dicomViewer.tools.do2DMeasurement(1,'aorticStenosisPeakVelocity','m/s')"><input type="radio" style="visibility:hidden;" id="measurement108" name="measurement" value="108">Aortic Stenosis Peak Velocity</li>
            </ul>
        </li>
        <li id="zoomInSR" onclick="dicomViewer.zoomSR('4_zoom')">Zoom In</li>
        <li id="zoomOutSR" onclick="dicomViewer.zoomSR('5_zoom')">Zoom Out</li>
        <li class=""><a href="#" id="context-print" onclick="dicomViewer.tools.doPrint()">Print</a></li>
        <li class=""><a href="#" id="context-export" onclick="dicomViewer.tools.doExport()">Export</a></li>
        <li class="">
            <a href="#" id="context-link-menu" onclick="">Link</a>
            <ul id="context-link-submenu">
                <li class=""><a href="#" class="linkSeries" id="context-link" onclick="dicomViewer.tools.linkSeries()">Link Viewport</a></li>
                <li id="context-link-crossRefLineSelector" onclick="dicomViewer.tools.doXRefLineSelection()">Cross Ref Line Selector</li>
            </ul>
        </li>
        <li><a href="#" id="context-copyAttributes" onclick="dicomViewer.tools.doCopyAttributes()">Copy Attributes</a></li>
        <li class="">
            <a href="#" id="context-qa-menu" onclick="">QA</a>
            <ul id="context-qa-submenu">
                <li id="context-qa-needsReview" onclick="prepareQARequest('IMG_NR',false)">Image Status=> Needs Review</li>
                <li id="context-qa-reviewed" onclick="prepareQARequest('IMG_R',false)">Image Status=> QA Reviewed</li>
                <li class="k-separator" style="border-color: #999;"></li>
                <li id="context-qa-MarkDelete" style="display:none;" onclick="prepareQARequest('IMG_D',false)">Image Delete...</li>
                <li id="context-qa-ImageIndexEdit" onclick="prepareQARequest('IMG_IE',false)">Image Index Edit...</li>
            </ul>
        </li>
    </ul>

    <!-- Custom Layout -->
    <div id="dialog-form" title="Custom Layout">
        <div id="alert" class="alert alert-info" role="alert" style="padding: 5px;">Fill all fields</div>
        Row: <input type="number" id="row" class="form-control" placeholder="Row" />
        Column : <input type="number" id="column" class="form-control" placeholder="Column" />
    </div>

    <!-- Custom Window level -->
    <div id="customWindowLevel" title="Custom Window Level">
        <div id="alert-WL" class="alert alert-info" role="alert" style="padding: 5px;"></div>
        WindowCenter: <input type="number" id="center" class="form-control" placeholder="center" />
        WindowWidth : <input type="number" id="width" class="form-control" placeholder="Width" />
    </div>

    <!--Custom zoom -->
    <div id="zoom-form" title="Custom Zoom">
        <div id="alert-zoom" class="alert alert-info" role="alert" style="padding: 5px;"></div>
        Zoom: <input type="number" id="zoomValue" class="form-control" placeholder="zoom%" />
    </div>

    <!-- Dicom Attribute Dialog -->
    <div id="dicomHeaderAttributes" title="Dicom Header">
        <table id="dicomHeader" class="table">
        </table>
    </div>

    <!-- Imaging Data Dialog -->
    <div id="imagingData" title="Imaging Data">
        <div id="imageMetadata" class="white-space-pre">
            Fetching Data...
        </div>
    </div>

    <!-- 2D Length Calibration Dialog -->
    <div id="lengthCalibrationModal" title="2D Length Calibration">
        <div id="lengthCalibrationAlert" class="alert alert-info" role="alert" style="padding: 5px;"></div>
        <div>
            <table id="lengthCalibrationTable" class="table">
                <tr>
                    <td>Length of drawn Line:</td>
                    <td><input type="number" id="calibrateLength" class="ktb-var-base" name="calibrateLength" style="width:55px;"></td>
                </tr>
                <tr>
                    <td>Unit</td>
                    <td>
                        <select id="unit" class="ktb-var-base">
                            <option value="UNITS_MM">Millimetre</option>
                            <option value="UNITS_CM">Centimetre</option>
                            <option value="UNITS_INCHES">Inches</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input id="applyToAllImages" type="checkbox" name="applyToAllImages" />Apply To Image Set</td>
                </tr>
            </table>
        </div>
    </div>

    <!-- line attributes -->
    <div id="lineAttribT" style="display:none;margin:50px">
        <table>
            <tr>
                <td style="width:65px">Line Width</td>
                <td>
                    <select id="lineWidth" class="ktb-var-base" style="width: 44px;height: 20px;">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                    </select>
                </td>
                <td style="width: 65px; padding-left: 26px;">Color</td>
                <td> <input type="color" id="lineColor" value="#00FFFF"></td>
            </tr>
        </table>
    </div>

    <!-- font attributes -->
    <div id="fontAttribT" style="display:none;margin:50px">
        <table>
            <tr>
                <td style="width:65px">Font Name</td>
                <td>
                    <select id="fontName" class="ktb-var-base" style="width: 175px;height: 20px;">
                        <option value="Arial">Arial</option>
                        <option value="Arial Black">Arial Black</option>
                        <option value="Book Antiqua">Book Antiqua</option>
                        <option value="Calibri">Calibri</option>
                        <option value="Comic Sans MS">Comic Sans MS</option>
                        <option value="Courier">Courier</option>
                        <option value="Cursive">Cursive</option>
                        <option value="Fantasy">Fantasy </option>
                        <option value="Georgia">Georgia</option>
                        <option value="Garamond">Garamond</option>
                        <option value="Helvetica">Helvetica</option>
                        <option value="Impact">Impact </option>
                        <option value="Lucida Sans Unicode">Lucida Sans Unicode </option>
                        <option value="Lucida Console">Lucida Console </option>
                        <option value="Monospace">Monospace</option>
                        <option value="Palatino Linotype">Palatino Linotype</option>
                        <option value="sans-serif">Sans-serif</option>
                        <option value="Times New Roman">Times New Roman</option>
                        <option value="Tahoma">Tahoma </option>
                        <option value="Verdana">Verdana </option>
                    </select>
                </td>
            </tr>
        </table>
        <br />
        <table>
            <tr>
                <td style="width:65px">Font Size</td>
                <td>
                    <select id="fontSize" class="ktb-var-base" style="width: 44px;height: 20px;">
                        <option value="6">5</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="16">16</option>
                        <option value="18">18</option>
                        <option value="20">20</option>
                        <option value="22">22</option>
                        <option value="24">24</option>
                        <option value="26">26</option>
                        <option value="28">28</option>
                    </select>
                </td>
                <td id="lblFontColor" style="width: 65px; padding-left: 15px;height:20px;display:none">Font Color</td>
                <td id="selFontColor" style="height:20px;padding-left:18px;display:none"> <input type="color" id="fontColor" value="#00FFFF" style="height:20px;"></td>
            </tr>
        </table>
        <br />
        <table id="fontFillT" style="display:none">
            <tr>
                <td style="width:51px">Fill</td>
                <td><input name="isFill" type="checkbox" style="height:20px;width:50px;margin-left:-1px" /></td>
                <td style="width:95px;padding-left:36px;">Fill Color</td>
                <td style="height:20px;padding-left:-20px;"> <input type="color" name="fillColor" value="#00FFFF" style="height:20px;"></td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="width:51px">Bold</td>
                <td><input id="isBold" type="checkbox" style="height: 20px;width: 50px;" /></td>
                <td style="width: 95px;padding-left: 36px;">Italic</td>
                <td><input id="isItalic" type="checkbox" style="width: 20px;height: 20px;" /></td>
            </tr>
            <tr>
                <td style="width:51px">Underline</td>
                <td><input id="isUnderlined" type="checkbox" style="width: 50px;height: 20px;" /></td>
                <td style="width: 95px;padding-left: 36px;">Strikeout</td>
                <td><input id="isStrikeout" type="checkbox" style="width: 20px;height: 20px;" /></td>
            </tr>
        </table>
    </div>

    <!-- Annotation line attributes -->
    <div id="annotAttribT" style="display:none;margin:50px">
        <table>
            <tr style="height:40px">
                <td style="width:100px;height:40px">Gauge Style</td>
                <td style="width:100px;height:40px">
                    <select id="gaugeStyle" class="prefBtn" style="width:64px;height:20px;">
                        <option value="Line">Line</option>
                        <option value="Point">Point</option>
                    </select>
                </td>
                <td style="width:100px;height:40px">Gauge Length</td>
                <td style="width:100px;height:40px">
                    <input id="gaugeLen" type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" min="0" max="20" class="prefBtn">
                </td>
            </tr>
            <tr style="height:40px">
                <td style="width:100px;height:40px">Precision</td>
                <td style="width:100px;height:40px">
                    <input id="precision" type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" min="0" max="14" class="prefBtn">
                </td>
                <td style="width:100px;height:40px">Measurement Units</td>
                <td style="width:100px;height:40px">
                    <select id="measureUnits" class="prefBtn" style="width:64px;height:20px;">
                        <option value="in">Inches</option>
                        <option value="cm">Centimeter</option>
                        <option value="mm">Millimeter</option>
                    </select>
                </td>
            </tr>
            <tr style="height:40px">
                <td style="width:100px;height:40px">Fill Color</td>
                <td id="selFillColor" style="width:100px;height:40px"> <input name="fillColor" type="color" value="#00FFFF"></td>
                <td style="width:100px;height:40px">Fill</td>
                <td style="width:100px;height:40px"><input name="isFill" type="checkbox" style="width:50px;height:20px;margin-left:-12px;" /></td>
            </tr>
            <tr style="height:40px">
                <td style="width:100px;height:40px">Arc Radius</td>
                <td style="width:100px;height:40px">
                    <input id="arcRadius" type="number" min="5" max="20" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="prefBtn">
                </td>
            </tr>
        </table>
    </div>

    <!-- No attributes message -->
    <div id="noAttribT">
        <label> No attributes applicable </label>
    </div>

    <!-- Unique Measurement properties dialog -->
    <div id="MeasurementPropertiesModal" title="Properties">
        <div id="PropertyAlert" class="alert alert-danger row" style=" display: none; font-size: 10px;" role="alert">
        </div>
        <div id="MeasurementPropertiesTable" class="row">
            <fieldset id="lineAttributes" style="height:50px">
                <legend style="width: 85px">Line Attributes</legend>

            </fieldset>
            <br id="fontAttributesbr" />
            <fieldset id="fontAttributes" style="height:190px">
                <legend id="fontAttributesLegend" style="width: 85px">Font Attributes</legend>

                <br />
            </fieldset>
            <br id="annotAttributesbr" />
            <fieldset id="annotAttributes" style="height:180px">
                <legend style="width: 120px">Annotation Attributes</legend>

            </fieldset>
        </div>
    </div>

    <!-- Hydra Viewer Version Info -->
    <div id="viewerVersionInfoModal" title="Viewer Information">
        <div id="historyTabs">
            <ul>
                <li><a href="#versionHistory" style="color: white;">Version History</a></li>
                <li><a href="#messageHistory" onclick="openMessageInfo();" style="color: white;">Message History</a></li>
            </ul>
            <div id="versionHistory"></div>
            <div id="messageHistory"></div>
        </div>
    </div>

    <style>
        fieldset {
            border: 1px solid #f7f8fb;
            padding-left: 20px;
        }

            fieldset legend {
                color: #fff;
                width: 161px;
                font-size: 11px;
                border-bottom: 0px;
            }
    </style>

    <!--Edit - P - State -->
    <div id="edit-PState" title="Edit Presentation State" height=auto>
        <div id="alert-edit-PState" width=100% class="alert alert-info" role="alert" style="padding: 5px; display:none"></div>
        <div id="editPSTableDiv" width=100%>
            <table id="editPStable" class="table" border="0" width=100%>
                <tr width=100%>
                    Name
                    <td width=100%><input type="text" id="presentationName" style="color :black; width:100%" value="" readonly></td>
                </tr>
                <tr id="editPStateOptions" width=100% style="display:none">
                    <td><input id="isEditable" type="radio" name="color" checked /> IsEditable<br></td>
                    <td><input id="isPrivate" type="radio" name="color" /> IsPrivate</td>
                </tr>
            </table>
        </div>
        <div id="editPStateTextAreaDiv">
            <table id="textAreaTable" class="table" border="0">
                <tr>
                    Description
                    <td width=100%>
                        <textarea id="editPStateDescription" rows="3" maxlength="200" style="height: 60px;width: 100%;color :black;resize:none"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!--splash - window - for annotation state -->
    <div id="splash-window" class="absoluteCenter">
        <div id="splash-content">
        </div>
    </div>

    <div class="dropdown-content" id="studyLevel_Annotation" style="border-color: #555555;background: #535151">
        <div id="page-wrapper">
            <div id="quickCreate">
                <div id="hoverTableCont">
                    <div class="hoverTable">
                        <div class="tableRow">
                            <div class="tableCell selectedCell" data-iksz="1" data-ipsz="1">
                                <div>x</div>
                            </div>
                            <div class="tableCell" data-iksz="2" data-ipsz="1">
                                <div>x</div>
                            </div>
                            <div class="tableCell" data-iksz="3" data-ipsz="1">
                                <div>x</div>
                            </div>
                        </div>
                        <div class="tableRow">
                            <div class="tableCell" data-iksz="1" data-ipsz="2">
                                <div>x</div>
                            </div>
                            <div class="tableCell" data-iksz="2" data-ipsz="2">
                                <div>x</div>
                            </div>
                            <div class="tableCell" data-iksz="3" data-ipsz="2">
                                <div>x</div>
                            </div>
                        </div>
                        <div class="tableRow">
                            <div class="tableCell" data-iksz="1" data-ipsz="3">
                                <div>x</div>
                            </div>
                            <div class="tableCell" data-iksz="2" data-ipsz="3">
                                <div>x</div>
                            </div>
                            <div class="tableCell" data-iksz="3" data-ipsz="3">
                                <div>x</div>
                            </div>
                        </div>
                    </div>
                    <div id="tableDimmensions">1 x 1</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Print Image Dialog -->
    <div id="printImageWindow" title="Print">
        <div id="alert-printImage" class="alert alert-info" role="alert" style="padding: 5px;display:none"></div>
        <div id="printImageTableDiv" width=100%>
            <table id="printImageTable" class="table" border="0" width=80%>
                <tr>
                    <td width="25%" style="padding-left:20px">Reason:</td>
                    <td width=75%>
                        <select id="reasonForPrintImage" style="width: 100%;color :black;resize:none" />
                    </td>
                </tr>
                <tr>
                    <td width="30%" style="padding-left:20px">Signature:</td>
                    <td width=70%>
                        <input type="password" id="digitalSignature" style="color :black; width:100%" placeholder="Enter digital signature">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Toolbar measurement and annotation -->
    <ul id="toolbar_measurementAnnotation" oncontextmenu="return false;" style="background: #363636;">
        <li class="">
            <a href="#" id="tool_measurements" onclick="">Measurement</a>
            <ul class="tool-measurementClass" id="tool_measurement_submenu">
                <li>
                    <a href="#" id="0_measurement" onclick="dicomViewer.tools.do2DMeasurement(0, null, null)">2D Length</a>
                </li>
                <li id="1_measurement">
                    <a href="#" onclick="dicomViewer.tools.do2DMeasurement(1, null, null)">2D Point</a>
                </li>
                <li>
                    <a href="#" id="6_measurement" onclick="dicomViewer.tools.do2DMeasurement(6, null, null)">2D Length Calibration</a>
                </li>
                <li id="angle_measurement">
                    <a href="#" onclick="dicomViewer.tools.do2DMeasurement('angle', null, null)">Angle</a>
                </li>
                <li id="2_measurement">
                    <a href="#" onclick="dicomViewer.tools.do2DMeasurement(2, null, 'mmHg')">Trace</a>
                </li>
                <li class="">
                    <a href="#" id="tool_hounsfield" onclick="">Hounsfield</a>
                    <ul id="tool_hounsfield_submenu">
                        <li>
                            <a href="#" id="7_measurement" onclick="dicomViewer.tools.do2DMeasurement('7', null, null)">Ellipse</a>
                        </li>
                        <li>
                            <a href="#" id="14_measurement" onclick="dicomViewer.tools.do2DMeasurement('14', null, null)">Rectanlge</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="#" id="tool_annotations" onclick="">Annotation</a>
            <ul class="tool-annotationClass" id="tool_annotation_submenu">
                <li>
                    <a href="#" id="8_text" onclick="dicomViewer.tools.do2DMeasurement(8, null, null)">Text</a>
                </li>
                <li id="9_line">
                    <a href="#" onclick="dicomViewer.tools.do2DMeasurement(9, null, null)">Line</a>
                </li>
                <li>
                    <a href="#" id="10_arrow" onclick="dicomViewer.tools.do2DMeasurement(10, null, null)">Arrow</a>
                </li>
                <li id="11_ellipse">
                    <a href="#" onclick="dicomViewer.tools.do2DMeasurement(11, null, null)">Ellipse</a>
                </li>
                <li id="12_rectangle">
                    <a href="#" onclick="dicomViewer.tools.do2DMeasurement(12, null, null)">Rectangle</a>
                </li>
                <li id="13_freehand">
                    <a href="#" onclick="dicomViewer.tools.do2DMeasurement(13, null, 'mmHg')">Free Hand</a>
                </li>
                <li id="15_pen">
                    <a href="#" onclick="dicomViewer.tools.do2DMeasurement(15, null, null)">Pen</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" id="4_measurement" onclick="dicomViewer.tools.do2DMeasurement(4, null, null)">Delete All</a>
        </li>
    </ul>

    <div id='lblTypeMenu' style="display:block">
        <ul class="resp-tabs-list">
            <li style="width:auto">Annotation</li>
            <li style="width:auto">Overlay</li>
            <li style="width:auto">Orientation</li>
            <li style="width:auto">Scout &amp Ruler</li>
        </ul>
        <div class="resp-tabs-container">
            <div id="LBLANNOTATIONTab">
            </div>
            <div id="LBLOVERLAYTab">
            </div>
            <div id="LBLORIENTATIONTab">
            </div>
            <div id="LBLSRTab">
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="settingPreference" role="dialog">
        <div class="modal-dialog" id="modelID">
            <!-- Modal content-->
            <div class="modal-content model-content-style">
                <div class="modal-header" style="padding: 10px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <a id="showPrefMenu" onClick='showOrHidePrefMenu("show")' style="display:none">
                        <img src='images/next-series.png'>
                    </a>
                    <a id="collapsePrefMenu" onClick='showOrHidePrefMenu("hide")'><img src='images/previous-series.png'></a>
                    <span class="modal-title model-header-title">Preferences</span>
                </div>
                <div class="modal-body" style="font-size: 10px;">
                    <div id="content_View" class="disableSelection">
                        <div class="row" style="margin-right: 0px;">
                            <div id='prefMenu' class="col-sm-3 sidebar sidebar-left sidebar-style">
                                <ul class="resp-tabs-list preference-tabs">
                                    <li class="annotationPreference" style="border: 1px solid;border-radius: 4px;">Annotation</li>
                                    <li class="cinePreference" style="border: 1px solid;margin-top: 3px;border-radius: 4px;">Cine</li>
                                    <li class="ecgPreference" style="border: 1px solid;margin-top: 3px;border-radius: 4px;">ECG</li>
                                    <li class="layoutPreference" style="border: 1px solid;margin-top: 3px;border-radius: 4px;">Layout</li>
                                    <li class="copyAttributesPreference" style="border: 1px solid;margin-top: 3px;border-radius: 4px;">Copy Attributes</li>
                                    <li class="logPreference" style="border: 1px solid;margin-top: 3px;border-radius: 4px;display:none">Log</li>
                                </ul>
                            </div>
                            <div class="col-sm-9" style="border-left: 1px solid #fff;height: 600px">
                                <div id="alertLoadingPreferences" style="display:none">
                                    <p style="text-align:center;font-size: 20px;margin-top:40%"> Loading Preferences... Please wait. </p>
                                </div>
                                <div class="resp-tabs-container">
                                    <div id="annotationPreferenceTab" class="tab-pane fade in active">
                                        <div class="pageHeader">
                                            <span class="tabName"></span>
                                        </div>
                                        <div id="annotationPreferenceTable" style="padding:16px">
                                        </div>
                                    </div>
                                    <div id="cinePreferenceTab">
                                        <div id="cinePreferenceAlert" class="alert alert-info" role="alert" style="padding:5px;display: none">
                                        </div>
                                        <div class="pageHeader">
                                            <span class="tabName"></span>
                                        </div>
                                        <div id="cinePreferenceTable">
                                            <div class="form-group row">
                                                <div class="col-sm-12" style="font-size:16px;padding:16px">
                                                    <div class="from-group row">
                                                        <div class="col-sm-6">
                                                            <p style="display: inline-block"> Cine mode </p>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="input-group">
                                                                <select id="palyselection" class="ktb-var-base form-control prefBtn" style="width:215%;">
                                                                    <option value="Stack">Stack</option>
                                                                    <option value="Study">Study</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="from-group row">
                                                        <div class="col-sm-6">
                                                            <p style="display: inline-block"> Repeat cine run </p>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="input-group">
                                                                <input type="number" id="timesToRepeat" name="timesToRepeat" min="1" max="500" class="ktb-var-base form-control prefBtn" onkeypress='return event.charCode >= 48 && event.charCode <= 57' style="width:126%;"> (times)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="from-group row">
                                                        <div class="col-sm-6">
                                                            <p style="display: inline-block"> when the number of frames in a cine loop are less than or equal to </p>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="input-group">
                                                                <input type="number" id="framesToRepeat" name="framesToRepeat" min="1" max="500" class="ktb-var-base form-control prefBtn" onkeypress='return event.charCode >= 48 && event.charCode <= 57' style="width:225%;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="from-group row">
                                                        <div class="col-sm-6">
                                                            <p style="display: inline-block"> When looping through a study, pause single frame images for </p>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="input-group">
                                                                <input type="number" id="idleTime" name="idleTime" min="1" max="500" class="ktb-var-base form-control prefBtn" onkeypress='return event.charCode >= 48 && event.charCode <= 57' style="width:225%;">
                                                            </div> (seconds)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="cineUseDefaultGroup" class="form-group row" style="padding:1px;margin-right:25px">
                                                <div class="pull-right" style="padding:2px 5px">
                                                    <label for="cineUseDefault" class="label-align">Use Default</label>
                                                </div>
                                                <div class="pull-right">
                                                    <input type="checkbox" id="cineUseDefault" class="form-control form-input-style useDefault-chk" checked>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="ecgPreferenceTab">
                                        <div class="pageHeader">
                                            <span class="tabName"></span>
                                        </div>
                                        <div id="EcgPreferenceTable" style="font-size:16px;padding:16px">
                                            <div class="form-group row">
                                                <label for="lgFormGroupInput" class="col-sm-3 col-form-label" style="font-weight:lighter;">Lead Type</label>
                                                <div class="col-sm-8">
                                                    <select id="ledselection" onchange="dicomViewer.changeECGLedType(this.value)" class="form-control prefBtn">
                                                        <option value="3x4+1">3x4+1</option>
                                                        <option value="3x4+3">3x4+3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-8" id="oneDisplay" style="margin-left:25%">
                                                    <!--panel-->
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">3x4+1</div>
                                                        <div class="panel-body" style="background-color: #525252">
                                                            <div class="form-group row">
                                                                <label for="lgFormGroupInput" class="col-sm-6 col-form-label" style="font-weight:lighter;">Signal:</label>
                                                                <div class="col-sm-6">
                                                                    <div id="3x41"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8" id="twoDisplay" style="margin-left:25%;display:none">
                                                    <!--panel-->
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">3x4+3</div>
                                                        <div class="panel-body" style="background-color: #525252">
                                                            <div class="form-group row">
                                                                <label for="lgFormGroupInput" class="col-sm-6 col-form-label" style="font-weight:lighter;">First Signal:</label>
                                                                <div class="col-sm-6">
                                                                    <div id="3x43_1"></div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="lgFormGroupInput" class="col-sm-6 col-form-label" style="font-weight:lighter;">Second Signal:</label>
                                                                <div class="col-sm-6">
                                                                    <div id="3x43_2"></div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="lgFormGroupInput" class="col-sm-6 col-form-label" style="font-weight:lighter;">Third Signal:</label>
                                                                <div class="col-sm-6">
                                                                    <div id="3x43_3"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="ecgUseDefaultGroup" class="form-group row" style="padding:1px; display:none;margin-right:25px">
                                                <div class="pull-right" style="padding:2px 5px">
                                                    <label for="ecgUseDefault" class="label-align" style="font-size:10px">Use Default</label>
                                                </div>
                                                <div class="pull-right">
                                                    <input type="checkbox" id="ecgUseDefault" class="form-control form-input-style useDefault-chk" checked>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="displayPreferenceTab">
                                        <div class="pageHeader">
                                            <span class="tabName"></span>
                                        </div>
                                        <div id="addEditHPTable" style="display: none;padding:16px;font-size:16px">
                                            <div id="editHPTable">
                                                <div class="form-group row" id="modalityRow">
                                                    <label for="lgFormGroupInput" class="col-sm-3 col-form-label" style="font-weight:lighter">Modality</label>
                                                    <div class="col-sm-8">
                                                        <select id="modality" class="form-control ktb-var-base">
                                                            <option value="US">US</option>
                                                            <option value="MR">MR</option>
                                                            <option value="CR">CR</option>
                                                            <option value="XA">XA</option>
                                                            <option value="CT">CT</option>
                                                            <option value="ECG">ECG</option>
                                                            <option value="NM">NM</option>
                                                            <option value="SR">SR</option>
                                                            <option value="MG">MG</option>
                                                            <option value="DOC">DOC</option>
                                                            <option value="DX">DX</option>
                                                            <option value="OT">OT</option>
                                                            <option value="SC">SC</option>
                                                            <option value="PT">PT</option>
                                                            <option value="RF">RF</option>
                                                            <option value="ES">ES</option>
                                                            <option value="XC">XC</option>
                                                            <option value="General">General</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="lgFormGroupInput" class="col-sm-3 col-form-label" style="font-weight:lighter">Rows</label>
                                                    <div class="col-sm-8">
                                                        <select id="layoutRows" class="ktb-var-base form-control">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="lgFormGroupInput" class="col-sm-3 col-form-label" style="font-weight:lighter">Columns</label>
                                                    <div class="col-sm-8">
                                                        <select id="layoutColumns" class="ktb-var-base form-control">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="lgFormGroupInput" class="col-sm-3 col-form-label" style="font-weight:lighter">Initial Zoom</label>
                                                    <div class="col-sm-8">
                                                        <select id="zoomModeValues" class="ktb-var-base form-control">
                                                            <option value="100%">100%</option>
                                                            <option value="Fit-to-window">Fit-to-window</option>
                                                            <option value="Fit-width-to-window">Fit-width-to-window</option>
                                                            <option value="Fit-height-to-window">Fit-height-to-window</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row" id="useEmbedPDFViewer_Row" style="display: none">
                                                    <label for="lgFormGroupInput" class="col-sm-3 col-form-label" style="font-weight:lighter">Use Browser PDF Plugin</label>
                                                    <div class="col-sm-8">
                                                        <select id="useEmbedPdfViewer" class="ktb-var-base form-control">
                                                            <option value="true" id="useEmbedPDFViewer_true">true</option>
                                                            <option value="false" id="useEmbedPDFViewer_false">false</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="listHangingProtocol" style="padding-top:16px">
                                            <div id="hpList">
                                                <table id="hpTableList" class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Modality</th>
                                                            <th>Rows</th>
                                                            <th>Columns</th>
                                                            <th>Zoom Mode</th>
                                                            <th align="left">Action</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="displayUseDefaultGroup" class="form-group row" style="padding:1px;margin-right:25px">
                                            <div class="pull-right" style="padding:2px 5px">
                                                <label for="displayUseDefault" class="label-align">Use Default</label>
                                            </div>
                                            <div class="pull-right">
                                                <input type="checkbox" id="displayUseDefault" class="form-control form-input-style useDefault-chk" checked>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="copyAttributesPreferenceTab">
                                        <div class="pageHeader">
                                            <span class="tabName"></span>
                                        </div>
                                        <div id="copyAttributesPreferenceList">
                                            <div id="copyAttributesPreferenceTableList">
                                                <form role="form" class="form-horizontal" style="font-size: 13px;padding:50px;">
                                                    <div class="form-group" id="copyAttributes_tr_WL">
                                                        <div class="col-sm-1">
                                                            <input type="checkbox" id="windowlevel" class="form-control prefBtn" value="Window Level" checked>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label style="font-weight:lighter">Window Level</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" id="copyAttributes_tr_BC">
                                                        <div class="col-sm-1">
                                                            <input type="checkbox" id="brightnesscontrast" value="Brightness and Contrast" class="form-control prefBtn" checked>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label style="font-weight:lighter">Brightness and Contrast</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" id="copyAttributes_tr_Scale">
                                                        <div class="col-sm-1">
                                                            <input type="checkbox" id="scale" class="form-control prefBtn" value="Scale" checked>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label style="font-weight:lighter">Scale</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" id="copyAttributes_tr_Invert">
                                                        <div class="col-sm-1">
                                                            <input type="checkbox" id="invert" class="form-control prefBtn" value="Invert" checked>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label style="font-weight:lighter">Invert</label>
                                                        </div>
                                                    </div>


                                                    <div class="form-group" id="copyAttributes_tr_Orientation">
                                                        <div class="col-sm-1">
                                                            <input type="checkbox" id="orientation" class="form-control prefBtn" value="Orientation" checked>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label style="font-weight:lighter">Orientation</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" id="copyAttributes_tr_Pan" style="display:none">
                                                        <div class="col-sm-1">
                                                            <input type="checkbox" id="pan" class="form-control prefBtn" value="Pan" checked>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label style="font-weight:lighter">Pan</label>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div id="copyattributesUseDefaultGroup" class="form-group row" style="padding:1px;margin-right:25px">
                                                <div class="pull-right" style="padding:2px 5px">
                                                    <label for="cpyAttribUseDefault" class="label-align">Use Default</label>
                                                </div>
                                                <div class="pull-right">
                                                    <input type="checkbox" id="cpyAttribUseDefault" class="form-control form-input-style useDefault-chk" checked>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="logPreferenceTab">
                                        <div id="logPreferenceAlert" class="alert alert-info" role="alert" style="padding:5px;display: none">
                                        </div>
                                        <div class="pageHeader">
                                            <span class="tabName"></span>
                                        </div>
                                        <div id="logPreferenceTable">
                                            <div class="form-group row">
                                                <div class="col-sm-12" style="font-size:16px;padding:16px">
                                                    <div class="from-group row">
                                                        <div class="col-sm-6">
                                                            <p style="display: inline-block"> Log Level </p>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="input-group" style="width:100%;">
                                                                <select id="logLevelPref" class="ktb-var-base form-control prefBtn" style="width:100%;">
                                                                    <option selected value="Trace">Trace</option>
                                                                    <option value="Debug">Debug</option>
                                                                    <option value="Info">Info</option>
                                                                    <option value="Warn">Warn</option>
                                                                    <option value="Error">Error</option>
                                                                    <option value="None">None</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="from-group row">
                                                        <div class="col-sm-6">
                                                            <p style="display: inline-block"> Line Limit </p>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="input-group" style="width:100%;">
                                                                <input value="1000" type="number" id="lineLimitPref" name="lineLimitPref" min="500" max="2000" class="ktb-var-base form-control prefBtn" onkeypress='return event.charCode >= 48 && event.charCode <= 57' onchange="document.getElementById('lineLimitPref').value = (this.value < 500 ? 500 : (this.value > 2000 ? 2000 : this.value))" style="width:100%;" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="from-group row">
                                                        <div class="col-sm-6">
                                                            <p style="display: inline-block"> Shortcut Key </p>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <div class="pull-right" style="padding:2px 5px">
                                                                    <label for="ctrlkeyPref">CTRL</label>
                                                                </div>
                                                                <div class="pull-right">
                                                                    <input type="checkbox" value="CTRL" id="ctrlkeyPref" checked>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="from-group row">
                                                        <div class="col-sm-6">
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <div class="pull-right" style="padding:2px 5px">
                                                                    <label for="altkeyPref">ALT</label>
                                                                </div>
                                                                <div class="pull-right">
                                                                    <input type="checkbox" value="ALT" id="altkeyPref">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="from-group row">
                                                        <div class="col-sm-6">
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <div class="pull-right" style="padding:2px 5px">
                                                                    <label for="shiftkeyPref">SHIFT</label>
                                                                </div>
                                                                <div class="pull-right">
                                                                    <input type="checkbox" value="SHIFT" id="shiftkeyPref">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="from-group row">
                                                        <div class="col-sm-6">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="input-group" style="width:100%;">
                                                                <select id="key3Pref" class="ktb-var-base form-control prefBtn" style="width:100%;">
                                                                    <option value="A">A</option>
                                                                    <option value="B">B</option>
                                                                    <option value="C">C</option>
                                                                    <option value="D">D</option>
                                                                    <option value="E">E</option>
                                                                    <option value="F">F</option>
                                                                    <option value="G">G</option>
                                                                    <option value="H">H</option>
                                                                    <option selected value="I">I</option>
                                                                    <option value="J">J</option>
                                                                    <option value="K">K</option>
                                                                    <option value="L">L</option>
                                                                    <option value="M">M</option>
                                                                    <option value="N">N</option>
                                                                    <option value="O">O</option>
                                                                    <option value="P">P</option>
                                                                    <option value="Q">Q</option>
                                                                    <option value="R">R</option>
                                                                    <option value="S">S</option>
                                                                    <option value="T">T</option>
                                                                    <option value="U">U</option>
                                                                    <option value="V">V</option>
                                                                    <option value="W">W</option>
                                                                    <option value="X">X</option>
                                                                    <option value="Y">Y</option>
                                                                    <option value="Z">Z</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="logUseDefaultGroup" class="form-group row" style="padding:1px;margin-right:25px">
                                                <div class="pull-right" style="padding:2px 5px">
                                                    <label for="logUseDefault" class="label-align">Use Default</label>
                                                </div>
                                                <div class="pull-right">
                                                    <input type="checkbox" id="logUseDefault" class="form-control form-input-style useDefault-chk" checked>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="preferenceStatus_div" style="float:left;color: white;font-size: small;">
                        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span><span id="preferenceStatus"></span>
                    </div>
                    <div style="float:right">
                        <button id="addHPPref" type="button" class="btn btn-default btn-sm" style="display:none">Add</button>
                        <button id="applyPref" type="button" class="btn btn-default btn-sm" style="visibility: visible;margin-right: auto;" disabled>Apply</button>
                        <button id="cancelPref" type="button" class="btn btn-default btn-sm" style="visibility: visible">Cancel</button>
                        <button id="resetPref" type="button" class="btn btn-default btn-sm" style="display:inline-block" disabled>Reset</button>
                    </div>
                    <div id="PreferenceAlert" class="alert alert-danger" style="padding:10px;float: right; display: block; font-size: 15px;" role="alert">
                    </div>
                </div>
            </div>
        </div>
    </div>

    !-- Print Layout preference Dialog -->
    <div id="printLayoutModal" title="Print Layout" style="width: auto; min-height: 0px; height: auto;">
        <div id="printLayoutModalAlert" class="alert alert-info" role="alert" style="padding: 5px;display: none;margin-bottom: 10px;"></div>
        <!-- <div class="col-sm-4" border-style:="" style="border-style: solid;border-color: #251d1d6b;height: 100%;">Select series range<br><br>
            Enter series Range<input type="text" id="PrintSeries_Range" style="width: 80%;">
        </div>
        <div class="col-sm-6" border-style:="" style="border-style: solid;border-color: #251d1d6b;height: 100%;">Select image range<br><br>
            Enter series:<input type="text" id="PrintImage_SelectSeriese" style="width: 80%;"><br><br>
            Enter Image Range:<input type="text" id="PrintImage_Range" style="width: 80%;"><br><br>
        </div> -->
        <div id="printLayoutModalDiv" border-style:="" style="border-style: solid;border-color: #251d1d6b;height: 100%;padding-left: inherit;">
            <strong>Select print Options</strong><br><br>
            <table id="printOptionTable">
                <tr>
                    <td style="padding-bottom: 24PX">Image Range:</td>
                    <td style="padding-bottom: 1em">
                        <input type="text" id="PrintImage_Range" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode==44 || event.charCode==45 )" placeholder="e.g. 1-5, 8, 11-13" style="color: black;width: 80%;">
                        <label id="imageRangeLabel"></label>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 1em">Zoom Option:</td>
                    <td style="padding-bottom: 1em">
                        <select id="PrintZoomOptions" style="color: black;width: 80%;">
                            <option value="1">At Current Zoom</option>
                            <option value="2">At 100% Zoom</option>
                        </select>
                    </td>
                </tr>
                <tr style="display:none">
                    <td style="padding-bottom: 1em">Layout Options:</td>
                    <td style="padding-bottom: 1em">
                        <select id="PrintLayoutOptions" style="color: black;width: 80%;">
                            <option value="1x1">1x1</option>
                            <option value="1x2">1x2</option>
                            <option value="1x3">1x3</option>
                            <option value="2x1">2x1</option>
                            <option value="2x2">2x2</option>
                            <option value="2x3">2x3</option>
                            <option value="3x1">3x1</option>
                            <option value="3x2">3x2</option>
                            <option value="3x3">3x3</option>
                        </select>
                    </td>
                </tr>
            </table>
             @*VAI-307*@
            <embed id="pdfPrintExportImage" type="application/pdf" src=BaseViewerUrl style="height:100%; width:100%" ; hidden="hidden">
            <a href="" download="ViewerExport.pdf" id="pdfExportImageLnk" type="application/pdf">
            		<input type="button" id="exportPdfButton" value="Export" hidden="hidden" />
			</a>
                <input type="button" id="printPdfButton" onclick="dicomViewer.tools.printPdfDoc()" value="Print" hidden="hidden" />
        </div>
    </div>

    <div id="callStackHeader" class="popup" style="background:#34343491;left:12%;top:27%;width:88%;min-height:100px;display:none;color:white;font-family:verdana,Charcoal,sans-serif;font-weight:lighter;font-size:16px;text-indent:10%">
        <form>
            <div class="row">
                <div class="col-xs-3">
                    <div class="row">
                        <div class="col-sm-3">
                            <label style="font-weight:lighter">Filter&nbsp;:&nbsp;</label>
                        </div>
                        <div class="col-sm-5">
                            <select id="filterBy" style="color: black;">
                                <option selected value="All">All</option>
                                <option value="Trace">Trace</option>
                                <option value="Debug">Debug</option>
                                <option value="Info">Info</option>
                                <option value="Warn">Warn</option>
                                <option value="Error">Error</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <span class="glyphicon glyphicon-trash" onclick="dicomViewer.logUtility.clearLog()">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <span id="logPreferences" style="vertical-align:middle;display:inline-block;font-size:10px">
                        <br />************ Console Logs ************
                    </span>
                </div>
                <div class="col-xs-5">
                    <div class="btn-group pull-right" style="margin-right:1%">
                        <span class="glyphicon glyphicon-minus" style="margin-left:-35%" onclick="dicomViewer.logUtility.minimizePanel()">
                        </span>
                        <span class="glyphicon glyphicon-fullscreen" style="margin-left:5%" onclick="dicomViewer.logUtility.maximizePanel()">
                        </span>
                        <span class="glyphicon glyphicon-remove" style="margin-left:5%" onclick="dicomViewer.logUtility.closePanel()">
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="callStackPanel" class="popup" style="background:#34343491;left:12%;top:27%;width:88%;min-height:200px;max-height:400px;display:none;color:white;font-family:verdana,Charcoal,sans-serif;font-weight:lighter;font-size:16px;text-indent:10%">
    </div>
    <div id="aModelWinWithURL" class="modal fade">
        <div class="modal-dialog" style="width: 100%;height: 100%;margin: 0;padding: 0;">
            <div class="modal-content" style="height: auto;min-height: 100%;border-radius: 0;background: black;">
                <div class="modal-header" style="border-color: #000000;">
                    <a onclick="closeModalWin()" style="margin-top: -10px;float: right;font-size: 21px;line-height: 1;color: #444444;text-shadow: 0 1px 0 #444444;"> <span class="glyphicon glyphicon-remove"></span></a>
                </div>
                <div class="modal-body" id="aModelWinBody">
                </div>
            </div>
        </div>
    </div>
    <script>
        $(window).on('load', function () { });
    </script>
</body>
</html>
